*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.container {
    width: min(1440px, 100%);
    margin-inline: auto;
    overflow-x: hidden;
}

header {
    background: var(--neutral-black, #06050F);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    user-select: none;
}

.nav__logo {
    color: var(--neutral-white, #FFF);
    font-size: 30px;
    line-height: 40px; 
    letter-spacing: 4.5px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.nav__links {
    display: flex;
    gap: 2rem;
}

.nav__link {
    color: var(--neutral-white, #FFF);
    font-size: 20px;
    line-height: 30px; 
    cursor: pointer;
}

.nav__link:hover {
    background-image: linear-gradient(304deg, #CDA5D5 0%, #FBE4FF 47.40%, #E8FE74 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    display: none;
}

.close {
    display: none;
}

@media (max-width: 950px) {
    nav {
        padding: 30px 20px;
    }
}

@media (max-width: 50em) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .nav__links {
        display: none;
    }

    .is-opened {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #06050F;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__link {
        padding: 20px;
    }

    .close {
        display: block;
        cursor: pointer;
    }

    .close path {
        transition: stroke 0.3s; 
      }
    
      .close:hover path {
        stroke: yellow; 
      }
}

.main {
    background: var(--neutral-black, #06050F);
}

.hero {
    text-align: center;
    margin-top: 3rem;
}

.hero__title {
    color: var(--neutral-white, #FFF);
    font-size: 96px;
    line-height: 106px; 
}

.hero__title span {
    display: block;
    color: var(--neutral-white-30, rgba(255, 255, 255, 0.30));
}

.hero__img {
    display: block;
    margin-inline: auto;
    width: 95%;
    margin-top: 2rem;
}

.about {
    margin-block: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__text-wrapper {
    padding-inline: 60px;
    width: 50%;
}

.about__title {
    color: var(--neutral-white-30, rgba(255, 255, 255, 0.30));
    font-size: 50px;
    line-height: 60px; 
}

.about__title span {
    color: var(--neutral-white, #FFF);
    display: block;
}

.about__text {
    margin-top: 1.6rem;
    color: var(--neutral-white, #FFF);
    font-weight: 500;
    line-height: 26px;
}

.about__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 14px 60px;
    border-radius: 20px;
    background: var(--purple, #CDA5D5);
    color: var(--neutral-black, #06050F);
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 26px; 
    transition: background-color 0.5s ease, color 0.3s ease;
}

.about__btn-box:hover {
    background-color: rgb(151, 41, 173);
    color: white
}

.about__btn-box:active {
    background-color: #cc59e2;
    color: black; 
}

.about__niche-wrapper {
    height: 50vh;
    width: 50%; 
    position: relative;
    right: 140px;
}

.about__niche-1, .about__niche-2, .about__niche-3, .about__niche-4, .about__niche-5, .about__niche-6, .about__niche-7, .about__niche-8, .about__niche-9, .about__niche-10 {
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50px;
    padding: 15px 20px;
    transition: transform 0.3s ease;
} 

.about__niche-1, .about__niche-2, .about__niche-3, .about__niche-8, .about__niche-9, .about__niche-10 {
    color: var(--neutral-white-30, rgba(255, 255, 255, 0.30));
    border: 1px solid var(--neutral-white-30, rgba(255, 255, 255, 0.30));
}

.about__niche-4, .about__niche-5, .about__niche-6 {
    color: var(--neutral-white, #FFF);
    border: 1px solid var(--neutral-white, #FFF);
} 

.about__niche-7 {
    background: var(--linear, linear-gradient(304deg, #CDA5D5 0%, #FBE4FF 47.40%, #E8FE74 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #E8FE74;
}

.about__niche-1 {
    right: 15%;
}

.about__niche-2 {
    right: 40%;
    top: 8%;
}

.about__niche-3 {
    left: 18%;
    top: 19%;
}

.about__niche-4 {
    top: 33%;
    left: 50%;
}

.about__niche-5 {
    right: 2%;
    top: 25%;
}

.about__niche-6 {
    left: 25%;
    top: 48%;
}

.about__niche-7 {
    top: 60%;
    left: 50%;
}

.about__niche-8 {
    right: 0%;
    top: 53%;
}

.about__niche-9 {
    left: 30%;
    bottom: 10%;
}

.about__niche-10 {
    bottom: 0;
    left: 64%;
}

.about__niche-wrapper {
    transition: transform 0.3s ease;
}
  
.about__niche-wrapper:hover {
    transform: translate(-3%, -3%); 
}
  
.about__niche-wrapper:hover .about__niche-1, .about__niche-wrapper:hover .about__niche-2, .about__niche-wrapper:hover .about__niche-3, .about__niche-wrapper:hover .about__niche-4, .about__niche-wrapper:hover .about__niche-5, .about__niche-wrapper:hover .about__niche-6, .about__niche-wrapper:hover .about__niche-7, .about__niche-wrapper:hover .about__niche-8, .about__niche-wrapper:hover .about__niche-9, .about__niche-wrapper:hover .about__niche-10 {
    transform: translate(3%, 3%); 
}

@media (max-width: 1170px) {
    .about {
        flex-direction: column;
    }

    .about__niche-wrapper {
        top: 50px;
        margin-inline: auto;
        right: 100px;
        margin-bottom: 50px;
        width: 100%;
    }

    .about__text-wrapper {
        padding-inline: 20px;
        width: 90%;
    }

    .about__text {
        padding-right: 100px;
    }

    .about__btn-box {
        width: 60%;
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {
    .about__niche-wrapper {
        display: none;
    }

    .about__title {
        font-size: 40px;
    }

    .about__text-wrapper {
        padding-inline: 0px;
    }

    .about__text {
        padding-right: 4px;
    }

    .about__btn-box {
        width: 100%;
        gap: 1rem;
    }
}

@media (max-width: 50em) {
    .hero__title {
        font-size: 50px;
        line-height: 60px; 
    }
}

.people {
    background: var(--yellow, #E8FE74);
    padding-block: 100px;
    padding-inline: 100px;
}

.people__wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people__title {
    color: var(--neutral-black-40, rgba(6, 5, 15, 0.40));
    font-size: 50px;
    line-height: 60px; 
}

.people__title span {
    color: var(--neutral-black, #06050F);
    display: block
}

.people__wrapper-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.people__card {
    position: relative;
    margin: 20px;
    width: 250px;
    text-align: center;
    transition: filter 0.3s ease-in-out;
}

.people__img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
    border-radius: 9px;
}

.people__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    border-radius: 9px;
}

.people__card:hover {
    filter: blur(0.7px);
}

.people__card:hover .people__img {
    filter: blur(0);
}

.people__card:hover .people__info {
    opacity: 1;
    pointer-events: initial;
}

.people__name-job {
    font-weight: bold;
    margin-bottom: 10px;

}

.people__name-job {
    color: var(--neutral-white, black);
    font-size: 19px;
    line-height: 45px; 
    padding-top: 20px;
}

.people__name-job span {
    color: var(--neutral-white-50, rgba(50, 48, 48, 0.5));
    display: block;
}

.people__about {
    color: var(--neutral-white, black);
    font-weight: 500;
    line-height: 26px; 
    font-size: 12px;
    padding-inline: 19px;
    text-align: left;
}

@media (max-width: 1140px) {
    .people-item-3 {
        display: none;
    }
}

@media (max-width: 940px) {
    .people__wrapper-bottom {
        flex-direction: column;
    }

    .people__title {
        font-size: 40px;
        line-height: 50px;
        padding-inline: 10px;
    }

    .people {
        padding-inline: 10px;
        padding-block: 40px;
    }
}

.info {
    padding-block: 90px;
    padding-inline: 100px;
    background: var(--neutral-black, #06050F);
}

.info__title {
    color: var(--neutral-white-30, rgba(255, 255, 255, 0.30));
    font-size: 50px;
    line-height: 60px; 
}

.info__title span {
    color: var(--neutral-white, #FFF);
    display: block;
}

.info__wrapper {

}

.info__item {
    color: white;
    margin-top: 1rem;
    border-radius: 20px;
    border: 1px solid var(--neutral-white-30, rgba(255, 255, 255, 0.30));
    padding: 25px 30px 27px 30px;
}

.info__item-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__item-title {
    color: var(--neutral-white, #FFF);
    font-size: 35px;
    line-height: 45px; 
}

.info__item-desc-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.info__item-date-wrapper, .item__item-location-wrapper, .info__item-more {
    display: flex;
    align-items: center;
    gap: 9px;
}

.info__item-more {
    cursor: pointer;
}

.info__item-more:hover {
    text-shadow: 0 0 20px #CDA5D5;
}

.info-2 {
    gap: 3.2rem;
}

.info-3 {
    gap: 3.2rem;
}

.info__item-date-wrapper, .item__item-location-wrapper, .info__item-more-text {
    color: var(--neutral-white, #FFF);
    font-weight: 500;
    line-height: 26px; 
}

.info__item-more-text {
    color: var(--purple, #CDA5D5);
}

.info__item-description-wrapper {
    margin-top: 1.2rem;
}

.info__item-main-text {
    color: var(--neutral-white, #FFF);
    font-weight: 500;
    line-height: 26px; 
}

.item__sign-up-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.2rem;
    cursor: pointer;
}

.item__sign-up-wrapper:hover {
    text-shadow: 0 0 20px #CDA5D5;
}

.item__sign-up-text {
    color: var(--purple, #CDA5D5);;
    font-weight: 500;
    line-height: 26px;
}

.info__main-btn {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    background: var(--purple, #CDA5D5);
    padding: 14px 60px;
    color: var(--neutral-black, #06050F);
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 26px;
    transition: background-color 0.5s ease, color 0.3s ease; 
}

.info__main-btn:hover {
    background-color: rgb(151, 41, 173);
    color: white;
}

.info__main-btn:active {
    background-color: #cc59e2;
    color: black; 
}

.info__item-description-wrapper {
    display: none;
}

@media (max-width:880px) {
    .info {
        padding-block: 50px;
        padding-inline: 20px;
    }
}

@media (max-width: 710px) {
    .info__item-nav {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .info__main-btn {
        width: 100%;
        justify-content: center;
    }

    .info__title {
        font-size: 40px;
        line-height: 50px; 
    }

    .info__item-title {
        font-size: 25px;
        line-height: 35px;
    }

    .info {
        padding-block: 30px;
        padding-inline: 10px;
    }
}
 
@media (max-width: 436px) {
    .info__item-desc-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
      
    .info__item-date-wrapper,
    .item__item-location-wrapper {
        flex: 0 50% 50%;
    }

    .info__item-more {
        margin-top: -40px;
    }
}

.form {
    background: var(--neutral-black, #06050F);
    padding-inline: 100px;
    padding-block: 80px;
}

.form__box {
    border-radius: 80px;
    background: var(--purple, #CDA5D5);
    padding: 80px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form__text-wrapper {
    width: 50%;
}

.form__title {
    color: var(--neutral-black-40, rgba(6, 5, 15, 0.40));
    font-size: 50px;
    line-height: 60px; 
}

.form__title span {
    display: block;
    color: var(--neutral-black, #06050F);
}

.form__text {
    color: var(--neutral-black, #06050F);
    margin-top: 1rem;
    font-weight: 500;
    line-height: 26px; 
}

.form__wrapper {
    width: 50%;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-main {
    color: var(--neutral-black, #06050F);
    font-weight: 500;
    line-height: 26px; 
    border-radius: 20px;
    border: 1px solid var(--neutral-black-30, rgba(6, 5, 15, 0.30));
    padding: 10px 20px 10px 20px;
    background:transparent;
    position: relative;
}

.form__name-text, .form__job-text, .form__num-text, .form__email-text {
    color: var(--neutral-black-40, rgba(6, 5, 15, 0.40));
    font-size: 14px;
    line-height: 21px; 
    margin-bottom: -10px;
}

.form__apply {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--yellow, #E8FE74);
    padding: 14px 60px;
    color: var(--neutral-black, #06050F);
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    font-weight: 500;
    line-height: 26px; 
    gap: 10px;
    transition: box-shadow 0.5s ease;
}

.form__apply:hover {
    -webkit-box-shadow: 1px 9px 44px -11px rgba(255,255,0,1);
    -moz-box-shadow: 1px 9px 44px -11px rgba(255,255,0,1);
    box-shadow: 1px 9px 44px -11px rgba(255,255,0,1);
}

.form__apply:active {
    -webkit-box-shadow: 1px 9px 44px -7px rgba(30,255,0,1);
    -moz-box-shadow: 1px 9px 44px -7px rgba(30,255,0,1);
    box-shadow: 1px 9px 44px -7px rgba(30,255,0,1);
}

.form__terms-text {
    color: var(--neutral-black-40, rgba(6, 5, 15, 0.40));
    font-size: 14px;
    line-height: 21px; 
    margin-top: 1rem;
}

.form__terms-text a {
    color: var(--neutral-black, #06050F);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 950px) {
    .form {
        background: var(--neutral-black, #06050F);
        padding-inline: 20px;
        padding-block: 50px;
    }
}

@media (max-width:50em) {
    .form {
        padding-inline: 5px;
    }

    .form__box {
       flex-direction: column;
       padding-block: 60px;
       padding-inline: 20px;
       border-radius: 0px;
    }

    .form__wrapper, .form__text-wrapper {
        width: 100%;
    }

    .form__title {
        font-size: 30px;
        line-height: 40px;  
    }
}

footer {
    background: var(--neutral-black, #06050F);
    padding: 1px 100px 70px 100px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white
}

.footer__top-main {
    display: flex;
    color: white;
}

.footer__top-join, .footer__top-contact, .footer__top-main-text {
    width: 33%;
}

.footer__top-contact {
    width: 50%;
}

.footer__top-main-text {
    width: 50%;
}

.footer__top-contact {
    /* margin-left: 100px; */
}

.footer__top-join, .footer__top-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-main-title {
    color: var(--neutral-white, #FFF);
    font-weight: 500;
    line-height: 26px; 
}

.footer-main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-main-link {
    cursor: pointer;
    color: var(--neutral-white, #FFF);
    font-size: 14px;
    line-height: 21px; 
}

.footer-main-link:hover {
    background-image: linear-gradient(304deg, #CDA5D5 0%, #FBE4FF 47.40%, #E8FE74 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__top-main-text-desc {
    color: var(--neutral-white-50, rgba(255, 255, 255, 0.50));
    font-size: 14px;
    line-height: 21px; 
}

.footer__top-main-text-desc a {
    color: var(--neutral-white, #FFF);
    text-decoration: none;
}

.footer__rights {
    color: var(--neutral-white-50, rgba(255, 255, 255, 0.50));
    font-size: 14px;
    margin-top: 1rem;
    line-height: 21px; 
}

@media (max-width: 960px) {
    .footer__top {
        flex-direction: column;
        gap: 2rem;
    }   

    .footer__top-main {
        gap: 3rem;
    }

    footer {
        padding: 1px 10px 70px 10px;
    }

    .footer__top-main-text {
        width: 100%;
        padding-inline: 110px;
    }
}

@media (max-width: 620px) {
    .footer__top-main-text {
        width: 100%;
        padding-inline: 20px;
    }

    .footer__top-main {
        gap: 1rem;
        font-size: 14px;
    }

    footer {
        padding: 1px 2px 50px 2px;
    }
}